*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
    position: relative;
}

.clock{
    color: #F72798;
    font-family: "Roboto";
    font-size: 7rem;
    text-shadow: 0 0 1rem #F72798;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.audio{
    display: none;
}

.button{
    background-color: black;
    border: #F72798 solid 3px;
    padding: 0.8rem 2rem;
    color: #F72798;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 1rem #F72798;
}
.button:hover{
    background-color: #F72798;
    color: black;
    box-shadow: 0 0 2rem #F72798;
}